<DOCTYPE html>
<html ng-app="mapApp">
<head>
    <title>Homeless Resource Map</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes">

    <script src="js/fuse.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>

    <script src="js/jquery-1.11.js"></script> 
    <script src="js/jquery.js"></script>

    <script src="js/controllers.js"></script>

    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/style.css" rel="stylesheet" media="screen">

    <link rel="shortcut icon" href="favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans|Sniglet' rel='stylesheet' type='text/css'>
</head>

<form class="navbar-form navbar-left" role="search">
  <div class="form-group">
    <p class="navbar-text navbar-title">Houston Resource Map for Those Experiencing Homelessness</p>
    <p class="navbar-text navbar-right">Made by DFA Rice</p>   
  </div>
</form>
<br><br>

<body ng-controller="SearchCtrl" ng-click="hideSearchResults($event)" ng-init="init()">
    <div class="top-panel">

        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Resources <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu">
            <li ng-click = "showAll()"><a href="#">Show All</a></li>
            <li class="divider"></li>
            <li ng-click = "showResources('Food')"><a href="#">Food</a></li>
            <li ng-click = "showResources('Housing')"><a href="#">Housing</a></li>
            <li ng-click = "showResources('Emergency Shelter')"><a href="#">Emergency Shelters</a></li>
            <li ng-click = "showResources('Medical')"><a href="#">Medical Resources</a></li>
            <li ng-click = "showResources('Income')"><a href="#">Job Training</a></li>
            <li ng-click = "showResources('Women\'s Resources')"><a href="#">Women's Resources</a></li>
            <li ng-click = "showResources('Library')"><a href="#">Public Library</a></li>
            <li ng-click = "showResources('Transportation')"><a href="#">Transportation</a></li>
        </ul>

        <button ng-click="showMyLocation()" class="btn btn-default my-loc-button">
            My Location
        </button>
        
        <div class="search-box">
            <i class="left-search-icon glyphicon glyphicon-search"></i>
            <input id="searchBox" class="form-control search-box-input" placeholder="Search for resources by name or service" ng-model="searchText" ng-keypress="resourceSelectedByKeyPress($event)" ng-focus="showSearchResults()" ng-blur="open == false">
            <i ng-click="clearInput()" class="glyphicon glyphicon-remove clear-input-button"></i>
        </div>

        <div class="results">
            <ul class="lookahead" ng-class="{shown: open, hidden: !open}">
                <li class="lookahead-element" ng-class="{firstSearchResult: $first}" ng-repeat="result in searchResults" require focus ng-click="focusResource(result)">
                    <a href=""><b>{{ result.name }}</b> - {{ result.type }}</a>
                </li>
            </ul>
        </div>
    </div>
	
	<div id="map-canvas"></div>
	<div id="floating-button">
		<button type="button" class="btn btn-default print-button">Print Map</div>
	</div>

</body>
</html>